#about {
    background-color: $secondary;
    position: relative;
}

.aboutPictures {
    display: flex;
    justify-content: center;
    align-items: center;
    
    img {
        width: 25%;
        margin: 0 20px;
    }
}
.claudiaBio {
    margin-top: 150px;
}
.bioContainer {
    display: flex;
    justify-content: center;

    p {
        width: 50%;
        margin-left: 20px;
    }

    img {
        width: 25%;
        margin-right: 20px;
    }
}