.hero {
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

nav {
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navContainer {
    display: flex;
    margin: 0;

    li {
        margin: 0 20px;
    }
}