@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

h2 {
  text-align: center;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

.content {
  padding: 80px 0;
}

.wrapper {
  max-width: 1400px;
  width: 65%;
  margin: 0 auto;
}

ul {
  padding: 0;
}

.custom-shape-divider-top-1645047918 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1645047918 svg {
  position: relative;
  display: block;
  width: calc(169% + 1.3px);
  height: 54px;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.custom-shape-divider-top-1645047918 .shape-fill {
  fill: #FFFFFF;
}

.custom-shape-divider-bottom-1645048002 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.custom-shape-divider-bottom-1645048002 svg {
  position: relative;
  display: block;
  width: calc(169% + 1.3px);
  height: 54px;
}

.custom-shape-divider-bottom-1645048002 .shape-fill {
  fill: #FFFFFF;
}

html {
  font-size: 125%;
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-weight: 600;
}

#about, #donations, #contact {
  color: #fff;
}
#about h3, #donations h3, #contact h3 {
  color: #e78834;
}

.hero {
  height: calc(100vh - 80px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.smallLogo {
  height: 80%;
}

nav {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
}

.navContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}
.navContainer li {
  margin: 0 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 10px;
}
.navContainer li:hover {
  background-color: #e78834;
  border-radius: 15px;
}

#about {
  background-color: #94412d;
  position: relative;
}

.aboutPictures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 150px 0;
}
.aboutPictures img {
  width: 25%;
  margin: 0 20px;
}

.bioContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.bioContainer .bio {
  width: 50%;
  margin-left: 20px;
}
.bioContainer img {
  width: 25%;
  margin-right: 20px;
}
.bioContainer i {
  color: #fff;
  font-size: 1.3rem;
  margin-right: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.bioContainer i:hover {
  color: #e78834;
}

#program {
  height: 500px;
}

#donations {
  background-color: #94412d;
  position: relative;
  height: 500px;
}

.partners {
  height: 500px;
}

#contact {
  background-color: #94412d;
  position: relative;
}
#contact a {
  color: #e78834;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#contact a:hover {
  text-decoration: underline;
}
#contact i {
  color: #e78834;
}
#contact li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#contact li h4 {
  margin-left: 10px;
}
#contact li p {
  text-align: center;
  line-height: 1.8rem;
}
#contact li:last-of-type {
  margin: 20px 0 -50px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #94412d;
  height: 75px;
  color: #e78834;
}
footer p {
  margin: 0;
  font-size: 0.8rem;
}
footer .josh {
  font-size: 0.6rem;
  margin-top: 5px;
  position: relative;
}
footer .josh a {
  color: #e78834;
}